.panelContainer{
    width: 80%;
    background: radial-gradient(102.75% 84.43% at 83.82% 22.64%, #1E2E57 0%, #0F1628 91%);
    padding: 85px 40px;
}

.textLastPosts{
    color: #C0C0C0;
    font-size: 18px;
    font-weight: 500;
}