.cardContainer {
    display: flex;
    
    position: relative;
}

.cardGallery {
    border-radius: 20px;
    object-fit: cover;
    width: 250px;
    height: 250px;
    border: 1px solid #555;
    background: #323234;
    box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.14) inset,
                0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    cursor: pointer;
}

.cardImage {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.image {
    border-radius: 20px;
    max-width: 250px;    
}

.cardImage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    background: linear-gradient(0deg, #323234 0%, #323234 35.8%, rgba(50, 50, 52, 0.00) 70.2%);
    pointer-events: none;
    border-radius: 20px;
    border: 1px solid #555;
}


.cardName{
    color: white;
    position: absolute;
    z-index: 1;
    margin: 0 20px 20px 20px;
    font-weight: 400;
}

.cardHover{
    background:#08101bbd;
    position: absolute;
    color :white;
    z-index: 20;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    outline: 7px solid var(--color-blue);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.readMoreButton{
    background-color: var(--color-green);
    color: var(--color-darkblue);
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top:20px;
}

.cardIcons{
    display: flex;
    margin: 30px;
    gap:25px;
}

.emptyCard {
    background-color: var(--color-darkblue);
    border: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptyCard:hover{
    outline: 7px solid var(--color-blue);
}

.emptyCardButton{
    color:var(--color-blue);
    font-size: 8rem;
    font-weight: 500;
    margin-bottom: 24px;
}