*{
    margin: 0;
    padding: 0;
    font-family: 'Saira', sans-serif;
    list-style: none;
}

:root{
    --color-darkblue:#08101B;
    --color-blue: #1B294D;
    --color-green: #289485;
    --color-red: #FF5762;
    --color-white:#ffffff;
}