.articleContainer {
    width: 80%;
    background-color: #c7c7c7;
    padding: 85px 40px;
}

.titleArticle {
    color: var(--color-darkblue);
    font-size: 50px;

}

.urlContainer {
    display: flex;
    color: #104684;
    align-items: center;
    gap: 5px;
    font-size: 25px;

}

.linkurl {
    font-size: 25px;
}


.authorArticle {
    font-size: 15px;
    font-weight: bold;
    margin-top: 70px;
}

.dateArticle {
    font-size: 15px;
}

.descriptionArticle {
    font-size: 15px;
    margin-top: 30px;
}